<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO APP: Projects</title>
    <link rel="stylesheet" href="https://igoradamenko.com/awsm.css/v2/css/awsm.css">
    <style>
        .bd{
            border: solid 1px black;
        }
        .p\(0\) {
            padding: 0;
        }
        .p\(10\){
            padding: 10px;
        }
    </style>
</head>
<body>

<main>

    <h1 th:if="${message != null}" th:text="${message}"></h1>
    <!--/*@thymesVar id="projects" type="java.util.List<pl.pawel.model.projection.ProjectWriteModel>"*/-->
    <dl th:each="project: ${projects}" class="bd p(10)">
        <dt th:text="${project.description}">...</dt>
        <dd>
            <ul class="p(0)">
                <li th:each="step: ${project.steps}" th:text="${step.description} + ' ' + ${step.daysToDeadline}"></li>
            </ul>
        </dd>
    </dl>

    <!--/*@thymesVar id="project" type="pl.pawel.model.projection.ProjectWriteModel"*/-->
    <form method="post" th:action="@{/projects}" th:object="${project}">
        <fieldset>
            <legend>Nowy projekt</legend>
            <label>Opis
                <input type="text" th:field="*{description}"/>
            </label>
            <fieldset th:each="step,stepStat: *{steps}">
                <legend th:text="|Krok ${stepStat.index + 1} |"></legend>
                <label>Opis
                    <input type="text" th:field="*{steps[__${stepStat.index}__].description}">
                </label>
                <label>Dni do końca projektu
                <input type="number" th:field="*{steps[__${stepStat.index}__].daysToDeadline}">
                </label>
            </fieldset>

            <div>
                <button type="submit" name="addStep">+</button>
            </div>
        </fieldset>

        <p>
            <button type="submit">Dodaj</button>
            <button type="reset">Wyczyść</button>
        </p>
    </form>
</main>

</body>
</html>